
* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar {
  background-color: #222;
  color: #b0b4bc;
  padding: 10px;
}

.sidestuff {
  padding-right: 10px;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspace-entry {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;

  border: 1.5px solid #2244ff;
}
.workspace-eventbox:not(:hover) box {
  color: white;
}
.workspace-eventbox:hover box {
  color: #2c4;
}
.workspace-entry.occupied {
  background-color: #110022;
}
.workspace-entry.empty {
  background-color: #002244;
}
.workspace-entry.current {
  border: 1.5px solid #2f4;
  // outline: 2px solid #ff0000;
  // TODO why does outline not work??
}
