(
monitors: [
    (
    identifier: ModelSerial("GBT", "G27Q", "23232B002075"),
    curve: [
        (10, 10),
        (250, 100),
    ],
    ),
],
disabled_monitors: [
    ModelSerial("HWP", "HP 22xi", "3CM338035N"),
],
physical_sensor: FT232H_TSL2591,
// physical_sensor: FT232H_LTR390,
)
